<script lang="ts">
	import type { PageData } from './$types';
	export let data: PageData;

	let tracks = data.tracks;
	let searchTerm = '';

	let timer: NodeJS.Timeout;

	const fetchTracks = async () => {
		const rep = await fetch(`/api/searchTracks?searchTerm=${searchTerm}`);
		const data = await rep.json();
		//console.log(data);
		tracks = data;
	};

	const handleSearch = (e: Event) => {
		clearTimeout(timer);
		timer = setTimeout(() => {
			let input = e.target as HTMLInputElement;
			searchTerm = input.value;
			fetchTracks();
		}, 300);
	};
</script>

<div class="px-4">
	<h1 class="is-size-1 mb-5">Tracks</h1>

	<input
		type="search"
		placeholder="Search..."
		class="mb-5 input"
		style="max-width: 88ch;"
		value={searchTerm}
		on:input={handleSearch}
	/>

	<table class="table">
		<thead>
			<tr>
				<th>Track</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Genre</th>
			</tr>
		</thead>
		<tbody>
			{#each tracks as t}
				<tr>
					<td>{t.trackName}</td>
					<td>{t.artistName}</td>
					<td><a href={`/album/${t.albumId}`}>{t.albumTitle}</a></td>
					<td>{t.genre}</td>
				</tr>
			{/each}
		</tbody>
	</table>
</div>
